<div class="container">
  <div class="row">
    <div class="col-lg">


 　　  <div class="result">
        <strong class="ISBN_search" id="title-search">資料情報検索</strong>
 　　    <div class = "panel-title">

 　　      <div class="ISBN_input">ISBN13：<input id="isbn" type="text" name="isbn" value="" autofocus>
            <button id="getBookInfo" class="btn btn-default">書籍情報取得
            </button>
 　　      </div>

 　　      <div class="book__topic">
 　　        <p id="thumbnail"></p>
 　　      </div>

 　　      <div class="book__topic">書籍名：<span id="title"></span>
 　　      </div>

 　　      <div class="book__topic">出版社：<span id="publisher"></span>
 　　      </div>

 　　      <div class="book__topic">巻：<span id="publisher"></span>
 　　      </div>

 　　      <div class="book__topic">シリーズ：<span id="series"></span>
 　　      </div>

 　　      <div class="book__topic">著者：<span id="author"></span>
 　　      </div>

 　　      <div class="book__topic">出版日：<span id="author"></span>
 　　      </div>

    　     <div class="book__topic">サムネイルURI：<span id="cover"></span>
    　     </div>

    　     <div class="book__topic bottom">詳細：<span id="description"></span>
           </div>

         </div>
       </div>
      <h4><mark>史料情報編集</mark></h4>
      <%= form_with(model: @book , url: person_book_path(@person)) do |f| %>
        <%# エラーメッセージ　%>
        <% if @book.errors %>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        <%# ここまでエラ-メッセージ　%>

        <p class ="form-title">タイトル</p>
        <span class="form-a"><%= f.text_field :title ,id: "book-name" %></span>
        <p class ="form-title">説明文</p>
        <span class="form-a"><%= f.text_area :caption %></span>
        <div class="grade_radio_button">
          <p class ="form-title">本の種類</p>
          <label>
            <%= f.radio_button :grade, 'beginner' %> 初心者向け</label>
          <label>
            <%= f.radio_button :grade, 'professional' %> その他（中級者以上向け）</label>
        </div>
        <%# 非表示用サムネイルURL%>
         <span class="form-a" ><%= f.text_area :image_url ,disaled: "true", id: "image_url" ,style: "visibility: hidden", hide_label:"true" %></span><br>
		      <%= f.submit "編集内容を保存する"%>
        </div>
	    <% end %>
    </div>
  </div>
</div>
