<div class="container">
  <div class="row">
    <div class="col-lg">
      <h4><mark>史料情報編集</mark></h4>
      <%= form_with(model: @book , url: person_book_path(@person)) do |f| %>
        <%# エラーメッセージ　%>
        <% if @book.errors %>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        <%# ここまでエラ-メッセージ　%>

        <p class ="form-title">タイトル</p>
        <span class="form-a"><%= f.text_field :title %></span>
        <p class ="form-title">説明文</p>
        <span class="form-a"><%= f.text_area :caption %></span>
        <p class ="form-title">書誌ID</p>
        <span class="form-a"><%= f.text_area :image_url %></span><br>
        <div class="grade_radio_button">
          <p class ="form-title">本の種類</p>
          <label>
            <%= f.radio_button :grade, 'beginner' %> 初心者向け</label>
          <label>
            <%= f.radio_button :grade, 'professional' %> その他（中級者以上向け）</label><br>
        </div>
		      <%= f.submit "編集内容を保存する"%>
        </div>
	    <% end %>
    </div>
  </div>
</div>
