<div class="container">
  <div class="row">
    <div class="col">
      <h4 style="padding-top: 20px;"><mark>タグ絞り込み検索</strong></mark>
       <%= link_to "リセット", books_path,class: "btn btn-sm "%>
      </h4>
      <li class="search_friend_by_categorize">
        <% @tag_lists.each do |list| %>
          <%= link_to list.name, books_path(tag_id: list.id), class: 'tag_list' %>
        <% end %>
      </li>
      <P class="book_name_search"><strong>ワード検索</strong><span class="attention">（本のタイトル、感想文からヒットするものを検索します)</span></p>
      <%= form_with url: books_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "ワード検索" %>
      <% end %>
      <h4><mark> 本一覧 </mark></h4>
      <table class="table-responsive">
        <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= attachment_image_tag book, :scribble, :fill, 150, 150, fallback: "/images/no_image.jpg" %>
              <strong>投稿者　<%= link_to book.customer.name, customer_path(book.customer.id) %></strong>
            </td>
            <td>
              <div>
                <strong><%= book.title%></strong><br>
                <%= book.caption %>
              <%# ここからいいねボタン%>
              <% if current_customer != nil && book.person_id != nil%>
                <% if book.favorited_by?(current_customer) %>
                  <%= link_to dislike_path(person_id: book.person_id, book_id: book.id), method: :delete, class: "float-left dislike" do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"> <%= book.favorites.count %> いいね</i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(person_id: book.person_id, book_id: book.id), method: :post, class: "float-left like" do %>
                    <i class="fa fa-heart-o"> <%= book.favorites.count %> いいね</i>
                  <% end %>
                <% end %>
              <% end %>
              </div>
              <p class="tag_list_box">
              <% book.tags.each do |tag| %>
                <% if book.person_id != nil%>
                  <%=link_to "#{tag.name}", person_path(book.person.id), class: 'smaller tag_list' %>
                <% end %>
              <% end %>
              </p>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>