<div class="container">
  <div class="row">
  	<div class="col-lg">
      <h4><mark>新規史料登録</mark></h4>
  		<%= form_with(model: @book, url: person_books_path(@person)) do |f| %>

  			<%= render 'layouts/error_messages', model: f.object %>
			  <p class ="form-title">タイトル</p>
  			<span class="form-a"><%= f.text_field :title %></span>
  			<p class ="form-title">説明文</p>
  			<span class="form-a"><%= f.text_area :caption %></span>
  			<p class ="form-title">書誌ID</p>
  			<span class="form-a"><%= f.text_area :image_url %></span><br>
  			<%= f.submit '投稿' %>
		<% end %>

	</div>
  </div>
 </div>
