<div class="container">
  <div class="row">
    <div class="row">
     <div class="col-sm-8 text-center" style="">
      <h4><mark></mark></h4></div>
    </div>
    <div class="row">
      <div class="col-sm-2" style=""><h4><strong>登録情報</strong></h4></div>
      <!-- 退会、編集、パス変更　-->
      <% if current_customer != nil && @customer.id == current_customer.id %>
        <div class="col-sm-1" style=""><%= link_to '編集する', edit_customer_path, class: 'btn' %></div>
        <div class="col-sm-1" style=""><%= link_to 'パスワードを変更する', edit_customer_registration_path, class: 'btn' %></div>
        <div class="col-sm-1" style="margin-left: 83px; margin-bottom: 10px;"><%= link_to '退会する', customer_registration_path(@customer.id), class: 'btn edit_btn' %></div>
      <% end %>
      <!-- 退会、編集、パス変更終了　-->
    </div>
    <div class="row">
     <div class="col-sm-8 " style="">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="active col-sm-3">ニックネーム</td>
              <td class=""><%= @customer.name %></td>
            </tr>
            <tr>
              <td class="active">自己紹介</td>
              <td><%= @customer.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- タブ表示設定　-->

<ul class="nav nav-tabs">
  <li><a href="#tabA" data-toggle="tab">投稿史料一覧</a></li>
  <li><a href="#tabB" data-toggle="tab">投稿肖像画一覧</a></li>
  <li><a href="#tabC" data-toggle="tab">いいね一覧</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tabA">
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>説明文</th>
      <th></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <th>
            <%#= link_to book.person.name, person_path(book.person.id) %>

      </th>
      <td><%= book.title%></td>
      <td><%= book.caption %></td>
      <td>
        <% if current_customer != nil && book.customer.id == current_customer.id %>
          <%= link_to "編集する", edit_person_book_path(person_id: book.person_id, id: book.id) %>
        <% end %>
        <% if current_customer != nil && book.customer.id == current_customer.id %>
          <%= link_to "消去", person_book_path(person_id: book.person_id, id: book.id), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
  </table>
  </div>
  <div class="tab-pane" id="tabB">
    <p style="margin-top: 15px;">
      <% @portraits.each do |portrait| %>

          <%= attachment_image_tag portrait, :image, :fill, 100, 100 %>
            <% if portrait.customer.id == current_customer.id %>
              <%= link_to "Destroy", person_portrait_path(portrait.customer.id,portrait), method: :delete, class: "btn btn-default" %><% end %>
        <% end %>
    </p>
  </div>
  <div class="tab-pane" id="tabC">
    <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>説明文</th>
      <th></th>
    </tr>
  </thead>
  <% @like_books.each do |book| %>
  <tbody>
    <tr>
      <th><%#= link_to book.person.name, person_path(book.person.id) %></th>
      <td><%= book.title%></td>
      <td><%= book.caption %></td>
      <td>
        <% if current_customer != nil && book.customer_id == current_customer.id %>
          <%= link_to "編集する", edit_person_book_path(person_id: params[:id], id: book) %>
        <% end %>
        <% if current_customer != nil && book.customer_id == current_customer.id %>
          <%= link_to "消去", person_book_path(person_id: params[:id], id: book), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
  </table>
  </div>
</div>

    </div>
  </div>
</div>