<div class="container">
  <div class="row">
  	<div class="col-lg">
      <h4>偉人編集</h4>
        <%= form_for(@person) do |f| %>
            <h4>フリガナ（全角カタカナ）</h4>
            <%= f.text_field :name_kana %>
            <h4>別名</h4>
            <%= f.text_field :alias %>
            <h4>出身国</h4>
            <%= f.text_field :country %>
            <h4>生まれた年</h4>
            <%= f.text_field :birth %>
            <h4>亡くなった年</h4>
            <%= f.text_field :death %>
            <h4>紹介文</h4>
            <%= f.text_area :introduction %>
            <%= f.submit '保存', class: "btn btn-success btn-lg" %>
          <% end %>

    </div>
  </div>
</div>
