<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <P class="people_name_search"><strong>名前検索</strong><span class="attention">（人物名、別名、フリガナからヒットするものを検索します)</span></p>
      <%= form_with url: people_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "人物名検索" %>
 	  <% end %>
    <%= link_to "リセット", people_path,class: "btn btn-xs "%>
      <h4><mark>偉人一覧</mark>
	    <span class="attention">(アイウエオ順)</span>
	  </h4>
	  <div class="column">
	  	<% @people.each do |person| %>
          <div class="col-lg-3 color_box">
            <% [person.portraits.sample].each do |portrait| %>
              <%= attachment_image_tag portrait, :image, :fill, 100, 100, fallback: "/images/no_image.jpg" %>
	        <% end %>
	        <span><%= link_to person.name, person_path(person.id), id: "people_name"%>
            </span>
          </div>
        <% end %>
      </div>
	</div>
  </div>
</div>