<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <table>
        <tr>
          <td class="top_margin" >
            <% @person.portraits.each do |portrait| %>
              <% if @person.portraits[0] == portrait %>
                <%= attachment_image_tag portrait, :image, :fill, 130, 130 %>
              <% else %>
                <%= attachment_image_tag portrait, :image, :fill, 100, 100 %>
              <% end %>
            <% end %>
          </td>
          <td class="top_margin">
            <%= form_for(@portrait, url: person_portraits_path(@person.id)) do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <%= f.attachment_field :image %>
              <p class="portrait_add_btn">
              <%= f.submit '肖像画を追加する', class: "btn" %></p><%= flash[:notice] %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="portrait-caption">
      <table>
        <tr>
          <td>
            <p class="top_margin" ><%= @person.name_kana %></p>
            <h1 style= "margin-top: -10px"><strong><%= @person.name    %></strong></h1>
          </td>
          <td style="padding-top: 50px; padding-left: 8px">
            <p>【生没】(<%= @person.birth %>〜<%= @person.death %>)</p>
          </td>
        </tr>
      </table>
      <p>【別名】<%= @person.alias %>【国】<%= @person.country %></p>
      <p>【人物説明】<br><span class="introduction"><%= @person.introduction %></span><br>
         <%= link_to "偉人情報を編集する", edit_person_path(@person.id),class: "btn peoplee_edit_btn"%>
      </p>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= @person.name %>のページを更新しました" data-via="<%= current_customer.name %>" data-show-count="false"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://note.com/intent/social_button" class="note-social-button" data-url="https://www.pieceofcake.co.jp/"></a>
      <script async src="https://cdn.st-note.com/js/social_button.min.js"></script>
    </div>

<%# ここから史料欄　%>

    <h4 style="padding-top: 20px"><mark>史料情報</mark></h4>
<%# ここから初心者　%>
    <p style="font-size: 16px; padding-top: 10px">初心者にオススメ！</p>
    <div class="book_add_button"  id="fixed" >
    　<%= link_to '史料を登録する', new_person_book_path(@person.id),
           class: 'btn' %>
    </div>
    <table class="table" style="margin-top: -20px">
      <thead>
         <tr>
          <th>タイトル/レビュー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      　<% @beginners.each do |book| %>
      <tbody>
      <tr>
        <td><strong><%= book.title%></strong><br><%= book.caption %><br><strong>投稿者　<%= link_to book.customer.name, customer_path(book.customer.id) %></strong>
        </td>
        <td>
<%# ここからいいねボタン%>
          <div class="fav" style="width: 120px;">
          <% if current_customer != nil %>
            <% if book.favorited_by?(current_customer) %>
              <%= link_to dislike_path(person_id: params[:id], book_id: book), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <p class="count_favorites"><%= book.favorites.count %> いいね</p>
              <% end %>
            <% else %>
              <%= link_to like_path(person_id: params[:id], book_id: book) , method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= book.favorites.count %> いいね
              <% end %>
            <% end %>
          <% end %>
          <p>
          <% book.tags.each do |tag| %>
            <%=link_to "#{tag.name}", books_path(tag_id: tag.id), class: 'smaller tag_list' %>
          <% end %>
          </p>
<%# ここから史料編集ボタン %>
          <% if current_customer != nil && book.customer.id == current_customer.id %>
            <span style="width: 10px"><%= link_to "編集する", edit_person_book_path(person_id: params[:id], id: book) ,class: 'small_edit_btn' %></span><% end %>
          <% if current_customer != nil && book.customer.id == current_customer.id %>
          <%= link_to "消去", person_book_path(person_id: params[:id], id: book), method: :delete ,class: 'small_delete_btn' %><% end %>
        </td>
        <td>
<%# ここからAPI記述 %>
          <section class="book-images-frame">
            <% if book.image_url? %>
              <%= image_tag book.image_url, class: "book-images-cover", style:"height:200px; width: 150px;" %>
            <% else %>
              <%= image_tag '/images/no_image.jpg', size: '150x150' %>
            <% end %>
          </section>
<%# ここまでAPI記述 %>
        </td>
      </tr>
    <% end %>
  　</table>
  　<%= paginate @beginners %>


<%# ここから中級者　%>
    <p style="font-size: 16px; padding-top: 10px">その他オススメ！</p>
    <div class="book_add_button" id="fixed" >
      <%= link_to '史料を登録する', new_person_book_path(@person.id),
     class: 'btn' %>
      </div>
    <table class="table" style="margin-top: -20px">
      <thead>
        <tr>
          <th>タイトル/レビュー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @professionals.each do |book| %>
      <tbody>
      <tr>
        <td><strong><%= book.title%></strong><br><%= book.caption %><br><strong>投稿者　<%= link_to book.customer.name, customer_path(book.customer.id) %></strong>

        </td>
        <td>
<%# ここからいいねボタン%>
          <div class="fav" style="width: 120px;">
          <% if current_customer != nil && book.person_id != nil%>
            <% if book.favorited_by?(current_customer) %>
              <%= link_to dislike_path(person_id: params[:id], book_id: book), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= book.favorites.count %> いいね
            <% end %>
            <% else %>
              <%= link_to like_path(person_id: params[:id], book_id: book) , method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= book.favorites.count %> いいね
              <% end %>
            <% end %>
          <% end %>
          </div>
            <p class="tag_list_box">
              <% book.tags.each do |tag| %>
                <%=link_to "#{tag.name}", books_path(tag_id: tag.id), class: 'smaller tag_list' %>
              <% end %>
            </p>
<%# ここから編集ボタン %>
          <% if current_customer != nil && book.customer.id == current_customer.id %>
            <span style="width: 10px"><%= link_to "編集する", edit_person_book_path(person_id: params[:id], id: book), class: "small_edit_btn" %></span><% end %>
          <% if current_customer != nil && book.customer.id == current_customer.id %>
            <%= link_to "消去", person_book_path(person_id: params[:id], id: book), method: :delete , class: 'small_delete_btn' %>
          <% end %>
        </td>
        <td>
<%# ここからAPI記述 %>
          <section class="book-images-frame">
            <% if book.image_url? %>
              <%= image_tag book.image_url, class: "book-images-cover", style:"height:200px; width: 150px;" %>
            <% else %>
              <%= image_tag '/images/no_image.jpg', size: '150x150' %>
            <% end %>
          </section>
<%# ここまでAPI記述 %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @professionals %>
    </div>
<%# ここまで史料欄　%>

    <div class="col-lg-3 creation">
      <div class="creation-title">
        <h3>作品</h3>
      </div>
      <table>
        <% @person.creations.each do |creation| %>
        <tr>
          <td>
            <%= attachment_image_tag creation, :image, :fill, 250, 100 %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creationModal<%= creation.id %>">
              拡大する
            </button>
          　<br>投稿者　<%= link_to creation.customer.name, customer_path(creation.customer.id) %>
            <!-- Modal -->
            <div class="modal fade" id="creationModal<%= creation.id %>" tabindex="-1" role="dialog" aria-labelledby="creationModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="creationModalLabel"><%= creation.caption %></h4>
                  </div>
                  <div class="modal-body">
                    <%= attachment_image_tag creation, :image, :fill, 1920, 1440, class: 'img-responsive thumbnail　aligncenter size-full wp-image-425' ,style: "cursor:pointer" %>
                    <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg modal-middle">
                        <div class="modal-content">
                          <%= attachment_image_tag creation, :image, :fill, 1920, 1440, class: 'aligncenter size-full wp-image-425', style: "cursor:pointer" %>
                        </div>
                        <div class="modal-img_footer">
                          <p></p>
                          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        　<!-- ここまで　モーダルウィンドウ -->
          </td>
        </tr>
        <tr>
          <td><%= creation.caption %>
          </td>
        </tr>
        <tr>
          <td class="btn_top" style="padding-top: 10px; padding-bottom: 20px">
            <% if current_customer != nil && creation.customer.id == current_customer.id %>
              <%= link_to "編集する", edit_person_creation_path(@person, creation ), class: "creation_small_edit_btn" %>
            <% end %>
            <% if current_customer != nil && creation.customer.id == current_customer.id %>
              <%= link_to "消去", person_creation_path(@person, creation), method: :delete, class: "creation_small_delete_btn" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= paginate @creations %>
      <div class="add button">
        <%= link_to '作品を登録する', new_person_creation_path(@person.id), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
