<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <table>
        <tr>
          <td class="top_margin" >
            <% @person.portraits.each do |portrait| %>
              <%= attachment_image_tag portrait, :image, :fill, 120, 120 %>
            <% end %>
          </td>
          <td class="top_margin">
            <%= form_for(@portrait, url: person_portraits_path(@person.id)) do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <%= f.attachment_field :image %>
              <p class="portrait_add_btn">
            <%= f.submit '肖像画を追加する', class: "btn" %></p><%= flash[:notice] %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="portrait-caption">
      <table>
        <tr>
          <td>
             <p class="top_margin" ><%= @person.name_kana %></p>
             <h1 style= "margin-top: -10px"><strong><%= @person.name    %></strong></h1>
          </td>
          <td style="padding-top: 50px; padding-left: 8px">
            <p>【生没】(<%= @person.birth %>〜<%= @person.death %>)</p>
          </td>
        </tr>
      </table>
      <p>【別名】<%= @person.alias %>【国】<%= @person.country %></p>
      <p>【人物説明】<br><span class="introduction"><%= @person.introduction %></span><br>
         <%= link_to "偉人情報を編集する", edit_person_path(@person.id),class: "btn peoplee_edit_btn"%>
      </p>
    </div>

<%# ここから史料欄　%>

        <h4 style="padding-top: 20px"><mark>史料情報</mark></h4>
<%# ここから初心者　%>
          <p style="font-size: 16px; padding-top: 10px">初心者にオススメ！</p>
          <div class="book_add_button"  id="fixed" >
            <%= link_to '史料を登録する', new_person_book_path(@person.id),
           class: 'btn' %>
            </div>
          <table class="table" style="margin-top: -20px">
            <thead>
              <tr>
                <th>タイトル</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% @beginners.each do |book| %>
            <tbody>
            <tr>
              <td><strong><%= book.title%></strong><br><%= book.caption %></td>
              <td></td>
              <td>
  <%# ここからいいねボタン%>
                  <div class="fav" style="width: 100px;">
                  <% if current_customer != nil %>
                  <% if book.favorited_by?(current_customer) %>
　　　　　　　　　　　  <%= link_to person_book_favorite_path(person_id: params[:id], book_id: book), method: :delete do %>
　　　　　　　　　　　    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
　　　　　　　　　　　    <%= book.favorites.count %> いいね
　　　　　　　　　　　  <% end %>
　　　　　　　　　　　　<% else %>
　　　　　　　　　　　  <%= link_to person_book_favorites_path(person_id: params[:id], book_id: book) , method: :post do %>
　　　　　　　　　　　    <i class="fa fa-heart-o" aria-hidden="true"></i>
　　　　　　　　　　　    <%= book.favorites.count %> いいね
　　　　　　　　　　　  <% end %>
　　　　　　　　　　　<% end %>
                  <% end %>
  <%# ここから史料編集ボタン %>
                 <% if current_customer != nil && book.customer.id == current_customer.id %>
                  <span style="width: 10px"><%= link_to "編集する", edit_person_book_path(person_id: params[:id], id: book) %></span><% end %>
                  <% if current_customer != nil && book.customer.id == current_customer.id %>
                  <%= link_to "消去", person_book_path(person_id: params[:id], id: book), method: :delete %><% end %>
              </td>
              <td>
  <%# ここからAPI記述 %>
              <section class="book-images-frame">

                <% if book.image_url? %>
                    <%= image_tag book.image_url, class: "book-images-cover", style:"height:200px; width: 150px;" %>
                  <% else %>
                    <%= image_tag '/images/no_image.jpg', size: '150x150' %>
                <% end %>

              </section>
  <%# ここまでAPI記述 %>
              </td>
            </tr>
          <% end %>
        </table>
       <%= paginate @beginners %>


<%# ここから中級者　%>
          <p style="font-size: 16px; padding-top: 10px">その他オススメ！</p>
          <div class="book_add_button" id="fixed" >
            <%= link_to '史料を登録する', new_person_book_path(@person.id),
           class: 'btn' %>
            </div>
          <table class="table" style="margin-top: -20px">
            <thead>
              <tr>
                <th>タイトル</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% @professionals.each do |book| %>
            <tbody>
            <tr>
              <td><strong><%= book.title%></strong><br><%= book.caption %></td>
              <td></td>
              <td>
  <%# ここからいいねボタン%>
                  <div class="fav" style="width: 100px;">
                  <% if current_customer != nil %>
                  <% if book.favorited_by?(current_customer) %>
　　　　　　　　　　　  <%= link_to person_book_favorite_path(person_id: params[:id], book_id: book), method: :delete do %>
　　　　　　　　　　　    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
　　　　　　　　　　　    <%= book.favorites.count %> いいね
　　　　　　　　　　　  <% end %>
　　　　　　　　　　　　<% else %>
　　　　　　　　　　　  <%= link_to person_book_favorites_path(person_id: params[:id], book_id: book) , method: :post do %>
　　　　　　　　　　　    <i class="fa fa-heart-o" aria-hidden="true"></i>
　　　　　　　　　　　    <%= book.favorites.count %> いいね
　　　　　　　　　　　  <% end %>
　　　　　　　　　　　<% end %>
                  <% end %>
  <%# ここから史料編集ボタン %>
                 <% if current_customer != nil && book.customer.id == current_customer.id %>
                  <span style="width: 10px"><%= link_to "編集する", edit_person_book_path(person_id: params[:id], id: book) %></span><% end %>
                  <% if current_customer != nil && book.customer.id == current_customer.id %>
                  <%= link_to "消去", person_book_path(person_id: params[:id], id: book), method: :delete %><% end %>
              </td>
              <td>
  <%# ここからAPI記述 %>
              <section class="book-images-frame">

                <% if book.image_url? %>
                    <%= image_tag book.image_url, class: "book-images-cover", style:"height:200px; width: 150px;" %>
                  <% else %>
                    <%= image_tag '/images/no_image.jpg', size: '150x150' %>
                <% end %>

              </section>
  <%# ここまでAPI記述 %>
              </td>
            </tr>
          <% end %>
        </table>
      <%= paginate @professionals %>
    </div>
<%# ここまで史料欄　%>

    <div class="col-lg-3 creation">
      <div class="creation-title">
        <h3>作品</h3>
      </div>
      <table>
        <% @person.creations.each do |creation| %>
        <tr>
          <td><%= attachment_image_tag creation, :image, :fill, 250, 100 %>
            <br>投稿者　<%= link_to creation.customer.name, customer_path(creation.customer.id) %>

          </td>
        </tr>
        <tr>
          <td><%= creation.caption %>
          </td>
        </tr>
        <tr>
          <td><% if current_customer != nil && creation.customer.id == current_customer.id %>
              <%= link_to "編集する", edit_person_creation_path(@person, creation ), class: "" %>
              <% end %>
              <% if current_customer != nil && creation.customer.id == current_customer.id %>
              <%= link_to "消去", person_creation_path(@person, creation), method: :delete, class: "" %>
              <% end %>
          </td>
        </tr>
        <% end %>

      </table>
      <%= paginate @creations %>
      <div class="add button">
          <%= link_to '作品を登録する', new_person_creation_path(@person.id), class: 'btn' %>
      </div>

    </div>

  </div>
</div>
