<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 style="padding-bottom: 10px;">　タグ編集　</h4>
      <%= form_with(model: @tag, url: admins_tag_path(@tag), local: true) do |f| %>
        <div class="form">
          <%= f.label :name, "タグ" %>
          <span style="font-size: 17px;">
           <%= f.text_field :name %>
           <%= f.radio_button :is_effective, :true %>
           <%= f.label :is_effective, "有効", {value: true} %>
           <%= f.radio_button :is_effective, :false %>
           <%= f.label :is_effective, "無効", {value: false} %>
           <%= f.submit "変更を保存する", class: "btn btn-primary" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>