<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h4>　タグ一覧・追加　</h4>
      <%= form_with(model: @tag, url: '/admins/tags', local: true) do |f| %>
        <div class="form" >
          <%= f.label :name, "タグ" %>
          <%= f.text_field :name %>
          <%= f.radio_button :is_effective, :true %>
          <%= f.label :is_effective, "有効", {value: true} %>
          <%= f.radio_button :is_effective, :false %>
          <%= f.label :is_effective, "無効", {value: false} %>
          <%= f.submit "追加", class: "btn btn-primary" %>
        </div>
      <% end %>

      <table class="table" style="border: 1px solid #696969; width: 400px">
        <thead>
          <tr class="active">
            <th>タグ名</th>
            <th>状態</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.is_effective ? '有効　　' : '無効　　' %></td>
              <td><%= link_to "編集する", edit_admins_tag_path(tag.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
	  </div>
  </div>
</div>
