<!DOCTYPE html>
<html>
  <head>
    <title>Numare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fe584cea55.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

      <nav class="nav navbar-nav navbar-left">
            <h3 class="navbar-brand" >
              <%= link_to image_tag("/images/logo.png", class: "logo" ,size: '95x95'), home_path %>
            </h3>
            <% if customer_signed_in? %>
            <li class='navbox'>
              <%= link_to "使い方", how_to_use_path, class:"" %></li>
            <li class='navbox'>
             <%= link_to 'マイページ', customer_path(current_customer.id), class:"" %></li>
            <li class='navbox'>
              <%= link_to "偉人一覧", people_path, class:"" %></li>
            <li class='navbox'>
              <%= link_to "ログアウト", destroy_customer_session_path, class:"", method: :delete %>
            <li class='navbox'>
            <% elsif  admin_signed_in? %>
            <li class='navbox'>
              <%= link_to '登録者一覧', admins_customers_path, class:"" %></span></li>
            <li class='navbox'>
              <%= link_to '偉人一覧', admins_people_path, class:"" %></span></li>
            <li class='navbox'>
              <%= link_to "ログアウト", destroy_admin_session_path, class:"", method: :delete %>
            <li class='navbox'>
            <% else %>
            <li class='navbox'>
              <%= link_to "使い方", how_to_use_path, class:"" %></li>
            <li class='navbox'>
              <%= link_to '人物一覧', people_path , class:"" %></span></li>
            <li class='navbox'>
             <%= link_to "新規登録", new_customer_registration_path, class:"" %></li>
            <li class='navbox'>
              <%= link_to "ログイン", new_customer_session_path, class:"" %></li>
            <% end %>

      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <%= link_to "偉人登録", new_person_path, class:"" %></li>
        </ul>

      </nav>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
